<% @page_title = "Delete a Section" %>

<h1>Delete a section</h1>

<%= form_for(:section, :url => {:action => "destroy", :id => @section.id}) do |f| %>
<p>Are you sure you want to delete this subject?</p>
<h4><%= @section.name %></h4>
  <%= submit_tag("Delete Section") %>
<% end %>
