<% @page_title = "Update Section" %>

<h1>Edit a section</h1>

<%= form_for(:section, :url => {:action => "update", :id => @section.id}) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <%= submit_tag("Update Section") %>
<% end %>
