<% @page_title = "Create a Section" %>

<h1>Create a section</h1>

<%= form_for(:section, :url => {:action => "create"}) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <%= submit_tag("Create Section") %>
<% end %>
