<% @page_title = "Update Page" %>

<h1>Update a page</h1>

<%= form_for(:page, :url => {:action => "update", :id => @page.id}) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <%= submit_tag("Update Page") %>
<% end %>
