<% @page_title = "Create Page" %>
<h1>Create a page</h1>

<%= form_for(:page, :url => {:action => "create"}) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <%= submit_tag("Create Page") %>
<% end %>
