# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1df86d577b618958afe7e483db4848de357ad0e06f98121870fcd561c8b7246e21a2349edb8b3e06ef17aaf6f15ad197ff630b8ebf664b5977cb6116077412a9

test:
  secret_key_base: 0220f7e465bb9f1f0de4562f694735ce9a63830347aeb1b686b857968ef20c683f5d499471d8b27addb5170c5b8cf1443d432d702bb361ce607bd01aa9b36ee0

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
