<table>
<tr>
  <td>Name</td>
  <td><%= f.text_field(:name) %></td>
  <td>Position</td>
  <td><%= f.text_field(:position) %></td>
  <td>Visible</td>
  <td><%= f.check_box(:visible) %></td>
</tr>
</table>
